### Ignote Parte III

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

Parte-III-web-employees-dashboard/node_modules
Parte-III-web-employees-dashboard/.pnp
Parte-III-web-employees-dashboard/.pnp.js

# testing
Parte-III-web-employees-dashboard/coverage

# production
Parte-III-web-employees-dashboard/build

# misc
Parte-III-web-employees-dashboard/.DS_Store
Parte-III-web-employees-dashboard/.env.local
Parte-III-web-employees-dashboard/.env.development.local
Parte-III-web-employees-dashboard/.env.test.local
Parte-III-web-employees-dashboard/.env.production.local

Parte-III-web-employees-dashboard/npm-debug.log*
Parte-III-web-employees-dashboard/yarn-debug.log*
Parte-III-web-employees-dashboard/yarn-error.log*


### Ignore parte II

Parte-II-API-academic-history/HELP.md
Parte-II-API-academic-history/target
!Parte-II-API-academic-history/.mvn/wrapper/maven-wrapper.jar
!Parte-II-API-academic-history/**/src/main/**/target/
!Parte-II-API-academic-history/**/src/test/**/target/

### STS ###
Parte-II-API-academic-history/.apt_generated
Parte-II-API-academic-history/.classpath
Parte-II-API-academic-history/.factorypath
Parte-II-API-academic-history/.project
Parte-II-API-academic-history/.settings
Parte-II-API-academic-history/.springBeans
Parte-II-API-academic-history/.sts4-cache

### IntelliJ IDEA ###
Parte-II-API-academic-history/.idea
Parte-II-API-academic-history/*.iws
Parte-II-API-academic-history/*.iml
Parte-II-API-academic-history/*.ipr

### NetBeans ###
Parte-II-API-academic-history/nbproject/private/
Parte-II-API-academic-history/nbbuild/
Parte-II-API-academic-history/dist/
Parte-II-API-academic-history/nbdist/
Parte-II-API-academic-history/.nb-gradle/
Parte-II-API-academic-history/build/
!Parte-II-API-academic-history/**/src/main/**/build/
!Parte-II-API-academic-history/**/src/test/**/build/

### VS Code ###
Parte-III-web-employees-dashboard/.vscode/